
@{
    ViewBag.Title = "AccessDenied";
}

<meta http-equiv="refresh" content="10;url=Index" />
<link href="~/Content/login-register.css" rel="stylesheet" />


<div class="container" style="margin-top:150px">
    <div class="bd-example">
        <div class="jumbotron">
            <h1 class="display-4">Yetkisiz Erişim</h1>
            <hr class="my-4">
            <p>
                Bu sayfaya erişim yetkiniz bulunmamaktadır.
            </p>
            <a class="btn btn-primary btn-lg" href="/Home/Index" role="button">Anasayfa</a>
        </div>
    </div>
</div>